.about-container{
  margin-top: 6rem;
}


.button-container{
    display: flex;
    gap: 1rem;
}


.button-container a button:first-of-type{
    background: var(--btn-primary-bg);
}

#btn-contact-me{
    background:transparent;
    border: 2px solid #22d3ee;
}

.button-container button:hover{
    box-shadow: var(--btn-hover-shadow);
    transform: scale(1.03);
}


.social-icons{
    padding-top: .5rem;
    display: flex;
    gap: 1rem;
}

.social-icons a img{
    font-size: 1.7rem;
    color: var(--color-gray-400);
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.social-icons a:first-child{
    color: white;
    font-size: 2.3rem;
}

.profile-wrapper {
    width: 260px;
    height: 260px;
    padding: 4px;
    border-radius: 50%;
    background:  var(--text-linear-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


#about-container .typing-animation{
   font-size: 2rem;
   color: var(--color-gray-300);
    font-weight: 500;
}

#about-container .typing-animation::before{
     content: "";
     animation: typing 10s infinite;
}
#about-container .typing-animation::after{
     content: "|";
     color: white;
     -webkit-text-stroke: 0px;
     font-weight: 100;
}



@keyframes typing {
  0%  { content: ""; }
  2.5%  { content: "F"; }
  5%  { content: "Fu"; }
  7.5%  { content: "Ful"; }
  10% { content: "Full"; }
  12.5% { content: "Full "; }
  15% { content: "Full S"; }
  17.5% { content: "Full St"; }
  20% { content: "Full Sta"; }
  22.5% { content: "Full Stac"; }
  25% { content: "Full Stack"; }
  27.5% { content: "Full Stack "; }
  30% { content: "Full Stack D"; }
  32.5% { content: "Full Stack De"; }
  35% { content: "Full Stack Dev"; }
  37.5% { content: "Full Stack Deve"; }
  40% { content: "Full Stack Devel"; }
  42.5% { content: "Full Stack Develo"; }
  45% { content: "Full Stack Develop"; }
  47.5% { content: "Full Stack Develope"; }
  50% { content: "Full Stack Developer"; }


  55% { content: "Full Stack Develope"; }
  60% { content: "Full Stack Develop"; }
  65% { content: "Full Stack Develo"; }
  70% { content: "Full Stack Devel"; }
  75% { content: "Full Stack Deve"; }
  80% { content: "Full Stack Dev"; }
  82.5% { content: "Full Stack De"; }
  85% { content: "Full Stack D"; }
  87.5% { content: "Full Stack "; }
  90% { content: "Full Stack"; }
  92.5% { content: "Full Stac"; }
  94% { content: "Full Sta"; }
  95.5% { content: "Full St"; }
  97% { content: "Full S"; }
  98% { content: "Full "; }
  99% { content: "Full"; }
  100% { content: ""; }
}