.contact-cards{
    display: flex;
    color: var(--color-gray-300);
    gap: 2rem;
    margin-top: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}



.contact-card{
    border: 1px solid var(--container-border);
    background: #021019;
    padding: 1rem;
    border-radius: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: start;
    gap:1rem;
    display: flex;
    width: 100%;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--hover-glow);
  background-color:  var(--hover-glow);
  border-color:var(--container-border-hover) ;
}

.icon-container{
  color: var(--color-white);
  border: none;
  padding: 15px 32px;
  box-shadow: var(--btn-shadow);
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .2s linear .2s;
  background: var(--btn-primary-bg);
}

.contact-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    gap: .5rem; 
}

.contact-detail p{
    font-weight: 700;
    font-size: 1.4rem;

}

.contact-detail h3{
    font-weight: 300;
    font-size: 1.2rem;
}